.no-gutter [class*="-"] {
	padding-left:0;
}

.ng-invalid-required.ng-touched {
border-color: red;
}

/* section */

section {
	padding-bottom: 15px;
	border-bottom: 1px solid #CCC;
}

/* file drop container */

.dropzone {
	width: 100%;
	min-height: 200px;
	border: 1px solid #CCC;
	display: block;
	position: relative;

	transition: background-color .1s linear;
}

.dropzone p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.dropzone.isDragging{
	background: #ECECEC;
	border-color: #A8DBFF;
}

.dropzone img {
	z-index: 100;
}

.dropzone .dropImage {
	font-size: 14px;
	font-weight: bold;
	background: red;
	color: #FFF;
	border-radius: 20px;
	padding: 5px 10px;
	display: inline-block;
}