


.no-gutter [class*="-"] {
	padding-left:0;
}

/* resetting this is not nice */
.form-control{
	padding-left: 6px !important;
} 

/* file drop container */

.dropzone {
	width: 320px;
	min-height: 200px;
	border: 1px solid #CCC;
	display: block;
	position: relative;
}

.dropzone p{
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.dropzone.isDragging{
	background: red;
}

.dropzone img {
	z-index: 100;
}