<div class='col-md-12'>
  <h3>Main</h3>
</div>
<div class='col-md-6'>
  <div form-group label='Title' blur='false' class="form-group">
    <input type="text" 
           name="title" 
           class="form-control" 
           ng-model="ctrl.graphic.title" 
           ng-blur="setOnBlur()"
           required />
    <p ng-show="graphicForm.title.$invalid && graphicForm.title.$dirty" class="help-block">
      The title is required.
    </p>
  </div>

  <div class="form-group">
    <label>Url*</label>
    <input type="url" 
           name="url" 
           class="form-control" 
           ng-model="ctrl.graphic.url" 
           required />
    <p ng-show="graphicForm.url.$error.url && graphicForm.url.$dirty" class="help-block">
      The url is required.
    </p>
  </div>

  <div class="form-group">
    <label>byline</label>
    <input type="text" 
           name="byline" 
           class="form-control" 
           ng-model="ctrl.graphic.byline">
  </div>

  <form-date class="form-group no-gutter"
        form-data="graphicForm" 
        obj-data="ctrl.graphic">
  </form-date>

</div>

<div class='col-md-6'>

  <div form-group label='Category' blur='false'>
    <select ng-model="ctrl.graphic.newsCategory"
         ng-options="c.value as c.title for c in ctrl.newscategories"> 
          <option value="">-- choose a category --</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">File input</label>

    <div file-dropzone="[image/png, image/jpeg, image/gif]" 
          data-max-file-size="3" 
          obj-data='ctrl.graphic.img'
          data-displaywidth='300'
          class="filedrop-container">
    </div>
  </div>

</div>