<label for="date" class="col-sm-12">Date*</label>

<div class="col-xs-2">
  <input type="text" 
        class="form-control" 
        placeholder="day" 
        name='day'
        ng-model="objData.day" 
        ng-min='2'
        ng-max='2'
        required />
</div>

<div class="col-xs-2">
  <input type="text" 
        class="form-control" 
        placeholder="month" 
        name='month'
        ng-min='2'
        ng-max='2'
        ng-model="objData.month" 
        required />
</div>

<div class="col-xs-3">
  <input type="text" 
        class="form-control" 
        placeholder="year" 
        name='year'
        ng-model="objData.year" 
        ng-min='4'
        ng-max='4'
        required />
</div>

<div ng-if="formData.day.$touched && formData.month.$touched && formData.year.$touched" class="col-sm-12" >
  <div class='actual-time'>{{ getDate( objData ) | date:'EEEE, MMMM d, y' }}</div>
  <div class='relative-time'>{{ getDate( objData ) | timeAgo }}</div>
</div>