<div class="form-group">
    <label for="date" class="col-sm-12">Date*</label>

    <div class="col-xs-2">
      <input type="text" 
            class="form-control" 
            placeholder="dd" 
            name='day'
            ng-model="placeholderData.day" 
            ng-min='2'
            ng-max='2'
            required />
    </div>

    <div class="col-xs-2">
      <input type="text" 
            class="form-control" 
            placeholder="mm" 
            name='month'
            ng-min='2'
            ng-max='2'
            ng-model="placeholderData.month" 
            required />
    </div>

    <div class="col-xs-4">
      <input type="text" 
            class="form-control" 
            placeholder="year" 
            name='year'
            ng-model="placeholderData.year" 
            ng-min='4'
            ng-max='4'
            required />
    </div>

    <div ng-if="formData.day.$touched && formData.month.$touched && formData.year.$touched" class="col-sm-12" >
      <div class='actual-time'>{{ getDate( placeholderData ) | date:'EEEE, MMMM d, y' }}</div>
      <div class='relative-time'>{{ getDate( placeholderData ) | timeAgo }}</div>
    </div>
</div>